<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <!-- <mat-list fxFlex>
    <mat-list-item *ngFor="let place of places">
      <img matListAvatar src={{place.image}} alt={{place.name}}>
      <h1 matLine> {{place.name}} </h1>
      <p matLine>
        <span> {{place.description}} </span>
      </p>
    </mat-list-item>
  </mat-list>   -->
  
  <div fxFlex>
    <div>
      <h3>Gallery</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let place of places">
        <img height="200px" src={{place.image}} alt={{place.name}}>
        <mat-grid-tile-footer>
          <h1>{{place.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxFlex *ngIf = "selectedPlace">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{selectedPlace.name | uppercase}}</h3>
        </mat-card-title>
        <img mat-card-image src={{selectedPlace.image}} alt={{selectedPlace.name}}>
      </mat-card-header>
    <mat-card-content>
      <p>{{selectedPlace.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Like</button>
      <button mat-button>Share</button>
    </mat-card-actions>
    </mat-card>
  </div>

</div>